<form [formGroup]="formApartment">

        <div class="form-group">
                <div class="radio-box">
                        <label for="whichApartment1" class="btn active">
                                <input type="radio" id="whichApartment1" value="which.newApartment"
                                        name="whichApartment" formControlName="whichApartment" />
                                דירה חדשה
                        </label>
                </div>
                <div class="radio-box">
                        <label for="whichApartment2" class="btn active">
                                <input type="radio" id="whichApartment2" value="which.discountApartment"
                                        name="whichApartment" formControlName="whichApartment" />
                                דירה במחיר למשתכן
                        </label>
                </div>
                <div class="radio-box">
                        <label for="whichApartment3" class="btn active">
                                <input type="radio" id="whichApartment3" value="which.oldApartment"
                                        name="whichApartment" formControlName="whichApartment" />
                                דירה יד שניה
                        </label>
                </div>
        </div>



        <!-- <legend class="content-title">הדירה שקונים היא...
                <button type="button" class="btn-information-blue" aria-expanded="false" aria-label="מידע נוסף"
                        data-cc="button|button|מידע נוסף"></button>
        </legend> -->
        <div class="form-group">

                <label for="apartmentDesignation" class="btn">
                        <input type="radio" id="apartmentDesignation" value="designation.signalApartment"
                                name="apartmentDesignation" formControlName="apartmentDesignation"> דירה יחידה
                </label>

                <label for="apartmentDesignation" class="btn">
                        <input type="radio" id="apartmentDesignation" value="designation.changeApartment"
                                formControlName="apartmentDesignation" name="apartmentDesignation"> דירה חילופית
                </label>

                <label for="apartmentDesignation" class="btn">
                        <input type="radio" id="apartmentDesignation" value="designation.mashkantaApartment"
                                formControlName="apartmentDesignation" name="apartmentDesignation"> דירה
                        להשקעה
                </label>
        </div>

        <button (click)="saveDetailsWhichApartment1()" type="submit" data-testid="next-btn"
                class="btn-red-arrow-left">המשך
        </button>
</form>

<router-outlet></router-outlet>