<form [formGroup]="registerForm" class="container col-sm-4 offset-sm-3" (ngSubmit)="onSubmit()">

    <h2>Register</h2>

    <div class="form-group">
        <label for="firstName">שם </label>
        <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && registerForm.controls.firstName.errors">
            <div class="alert alert-danger" *ngIf="f.firstName.errors.required">חובה למלאות שם </div>
            <div class="alert alert-danger" *ngIf="f.firstName.errors.minlength">השם חייב להיות באורך 2 תוים לפחות
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">משפחה </label>
        <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors">
            <div *ngIf="f.lastName.errors.required" class="alert alert-danger"> חובה למלאות שם </div>
            <div *ngIf="f.lastName.errors.minlength" class="alert alert-danger"> השם חייב להיות באורך 2 תוים לפחות
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="identity">תעודת זהות </label>
        <input type="text" formControlName="identity" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.identity.errors }" />
        <div *ngIf="submitted && f.identity.errors">
            <div *ngIf="f.identity.errors.required" class="alert alert-danger"> חובה למלאות תז </div>
            <div *ngIf="f.identity.errors.pattern" class="alert alert-danger">אורך 9 תוים </div>
        </div>
    </div>

    <div class="form-group">
        <label for="userName">שם משתמש </label>
        <input type="text" formControlName="userName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
        <div *ngIf="submitted && f.userName.errors">
            <div *ngIf="f.userName.errors.required" class="alert alert-danger"> חובה למלאות שם משתמש </div>
            <div *ngIf="f.userName.errors.minlength" class="alert alert-danger">אורך לפחות 6 תוים </div>
        </div>
    </div>


    <div class="form-group">
        <label for="password">סיסמה</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required" class="alert alert-danger"> חובה למלאות סיסמה </div>
            <div *ngIf="f.password.errors.minlength" class="alert alert-danger">אורך לפחות 6 תוים </div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/" class="btn btn-link">Cancel</a>
    </div>

</form>