<form novalidate="" scrolltoerror="true" autocomplete="off" class="ng-untouched ng-pristine ng-invalid">
    <h1 tabindex="0" v>אז שניה לפני שממשיכים,</h1>
    <div class="fade-loading in">
        <ul class="list-red-blue">
            <li>
                <ul>
                    <li>מחיר הדירה:</li>
                    <li>1,000,000 ש"ח</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>סכום המשכנתא המבוקש:</li>
                    <li>650,000 ש"ח</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>זה אומר שיש לי:</li>
                    <li>350,000 ש"ח</li>
                </ul>
            </li>
        </ul>
        <!-- <div class="user-data-gray-box lg-section ng-untouched ng-pristine ng-invalid">
            <h4>מקורות ההון העצמי</h4>

            <div class="ng-untouched ng-pristine ng-invalid">
                <div class="content-groups">
                    <div class="content-group">
                        <input id="amount" type="text" formControlName="financingSourceAmount"
                            class="vv-form-control amount-control ng-untouched ng-pristine ng-invalid"
                            placeholder="hidden">
                        <label for="amount">סכום</label>
                    </div>

                </div>

            </div>

        </div> -->
        <button type="button" class="btn-plus"> מקור נוסף </button>

        <div class="user-data-white-box">
            <ul class="list-red-blue-light">
                <li>
                    <ul role="presentation">
                        <li>סכום הרכב הון עצמי:</li>
                        <li>0 ש"ח</li>
                    </ul>
                </li>
                <li>
                    <ul role="presentation">
                        <li>נשאר לממן:</li>
                        <li>350,000 ש"ח</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="action-buttons">
            <button (click)="saveDetailsWhichApartment4()" type="submit" class="btn-red-arrow-left"> המשך </button>
            <button type="button" (click)="backBtn()" class="btn-red-arrow-circle-arrow-right"> חזור </button>
        </div>

    </div>
</form>