<!-- <form *ngIf="!sucsess" [formGroup]="formRequest" class="container col-sm-4 offset-sm-3">

    <h2>בקשה ראשונית לפגישה עם היועץ</h2>

    <div class="form-group">
        <label for="salaryYou">salaryYou</label>
        <input type="text" formControlName="salaryYou" class="form-control" />
    </div>

    <div class="form-group">
        <label for="salaryZug">salaryZug</label>
        <input type="text" formControlName="salaryZug" class="form-control" />
    </div>

    <div class="form-group">
        <label for="adressHouse">adressHouse</label>
        <input type="text" formControlName="adressHouse" class="form-control" />
    </div>

    <div class="form-group">
        <label for="notes">notes</label>
        <input type="text" formControlName="notes" class="form-control" />
    </div>

    <button type="submit" (click)="createDetailsMashkanta()">שליחה</button>
</form> -->

<apartment></apartment>

<div *ngIf="sucsess">הטופס נשלח בהצלחה!!</div>

<div *ngIf="failed">הייתה בעיה בשליחת הטופס</div>