<ul *ngIf="selectedDetailsMashkanta" class="list-group">

    <p>הלקוח הנבחר: </p>
    <li class="list-group-item">

        <div class="row">
            <div class="col-3">{{selectedDetailsMashkanta.firstName}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.lastName}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.identity}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.areaCode}}</div>
        </div>
        <div class="row">
            <div class="col-3">{{selectedDetailsMashkanta.propertyCity}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.propertyPrice}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.propertyMarketValue}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.amount}}</div>
        </div>
        <div class="row">
            <div class="col-3">{{selectedDetailsMashkanta.citizenship}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.city}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.street}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.apartmentRegistration}}</div>
        </div>
        <div class="row">
            <div class="col-3">{{selectedDetailsMashkanta.pel}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.email}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.birthDate}}</div>
            <div class="col-3">{{selectedDetailsMashkanta.countryOfBirth}}</div>
        </div>
        <div class="row">
            <div class="col-6">{{selectedDetailsMashkanta.whichApartment }}</div>
            <div class="col-6">{{selectedDetailsMashkanta.apartmentDesignation}}</div>
        </div>

    </li>
</ul>

<chat [isManager]=true></chat>
<!-- <chat [currentUser]=selectCustomer [isManager]=true></chat> -->