<!-- <link rel="stylesheet" href="../../../../icons/css/all.css"> -->
<!-- <i class="fas fa-user"></i> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a *ngIf="!ifHaveCurrentUser" routerLink="LoginComponent"> הכנס</a>
        <a *ngIf="!ifHaveCurrentUser" routerLink="RegisterComponent"> הירשם</a>
        <a *ngIf="ifHaveCurrentUser" (click)="logOut()"> התנתק</a>
        <a routerLink="ArticlesComponent"> עמוד הבית</a>
        <a routerLink="AboutMeComponent"> אודותי</a>
        <a routerLink="QuestionsAnswersComponent"> שו"ת</a>
        <a routerLink="ArticlesComponent"> מאמרים</a>
    </div>
</nav>

<a *ngIf="ifHaveCurrentUser" routerLink="ChatComponent"> כאן תוכלו לכתוב ליועץ</a>

<router-outlet></router-outlet>