<form [formGroup]="formMoreDetails">

    <h1> נשמח להכיר אותך!</h1>

    <div class="form-group">
        <input id="firstName" value="firstName" type="text" name="firstName" formControlName="firstName"
            placeholder="שם פרטי (כפי שמופיע בת.ז.)">
    </div>
    <div class="form-group">
        <input id="lastName" value="lastName" type="text" name="lastName" formControlName="lastName"
            placeholder="שם פרטי (כפי שמופיע בת.ז.)">
    </div>
    <div class="form-group">
        <input id="identity" value="identity" type="text" name="identity" formControlName="identity"
            placeholder="תעודת זהות">
    </div>
    <div class="form-group">
        <input id="areaCode" value="areaCode" type="text" name="areaCode" formControlName="areaCode">
    </div>
    <div class="form-group">
        <input id="pel" value="pel" type="text" name="pel" formControlName="pel" placeholder="פלאפון נייד">
    </div>
    <div class="form-group">
        <input id="email" value="email" type="text" name="email" formControlName="email" placeholder="כתובת מייל">
    </div>

    <p>תאריך לידה </p>
    <!-- <div class="form-group">
        <input id="year" value="year" type="text" name="year" formControlName="year" placeholder="תאריך לידה">
        <input id="month" value="month" type="text" name="month" formControlName="month" placeholder="תאריך לידה">
        <input id="day" value="birthDate" type="text" name="day" formControlName="day" placeholder="תאריך לידה">
    </div> -->
    <div class="form-group">
        <input type="birthDate" id="birthDate" value="birthDate" type="text" name="birthDate"
            formControlName="birthDate" placeholder="תאריך לידה">
    </div>
    <div class="form-group">
        <input type="countryOfBirth" id="countryOfBirth" value="countryOfBirth" type="text" name="countryOfBirth"
            formControlName="countryOfBirth" placeholder="ארץ לידה">
    </div>

    <p>יש לך אזרחות/תושבות מס נוספת? </p>
    <div class="form-group">
        <input id="city" value="city" type="text" name="city" formControlName="city" placeholder="עיר/יישוב">
    </div>
    <div class="form-group">
        <input id="street" value="street" type="text" name="street" formControlName="street" placeholder="רחוב">
    </div>
    <div class="form-group">
        <input id="birthDate" value="birthDate" type="text" name="birthDate" formControlName="birthDate"
            placeholder="מספר">
    </div>

    האם הדירה הנרכשת תרשם על שמך?
    <div class="form-group">
        <input id="apartmentRegistration" value="true" type="text" name="apartmentRegistration"
            formControlName="apartmentRegistration" placeholder="כן">
    </div>
    <div class="form-group">
        <input id="apartmentRegistration" value="false" type="text" name="apartmentRegistration"
            formControlName="apartmentRegistration" placeholder="לא">
    </div>

    <button (click)="saveDetailsWhichApartment6()" type="submit" data-testid="next-btn" class="btn-red-arrow-left">המשך
    </button>
    <button type="button" data-testid="back-btn" (click)="backBtn()" class="btn-circle-arrow-right"
        aria-label="חזרה לשלב הקודם">jhjk</button>

</form>