<p>4 השלבים בדרך למשכנתא</p>

<button routerLink="/StepsComponent/step1">התחלת התהליך</button>
<!-- <a routerLink="/StepsComponent/step1"> התחלת התהליך</a> -->

<div class="text-center">
    <div class="wysiwyg-field">
        <h2>כל מה שרציתם לדעת על משכנתא</h2>

        <h3>איזו עבודת הכנה כדאי לעשות לפני שמתחילים בתהליך, מה זה אישור עקרוני, ואילו מסמכים צריך להציג לבנק?</h3>

        <p><br>
            רגע לפני שאתם יוצאים לדרך, הנה השלבים שמהם מורכב תהליך לקיחת המשכנתא.</p>

        <h2><br><span style="color: rgb(223, 26, 30);">הגדרת סכום המשכנתא</span></h2>
        חישוב סכום ההלוואה שתוכלו לקחת, מתבסס על שלושה רכיבים:<br>
        &nbsp;
        <ul>
            <li><strong>העלות הכוללת של רכישת הנכס</strong><br>
                העלות האמיתית של רכישת הנכס אינה מורכבת רק ממחיר הנכס, אלא גם מההוצאות הנלוות לרכישה, כגון דמי תיווך,
                שכר
                טרחת עו"ד, שמאי, הוצאות הקשורות במעבר, עלויות שיפוץ אם ישנן ועוד.&nbsp;<br>
                &nbsp;</li>
            <li><strong>גובה ההון העצמי</strong><br>
                ההון העצמי שלכם הוא סכום הכסף שעומד לרשותכם כיום ויכול לשמש אתכם לרכישת הדירה. לאחר שביררתם מהי העלות
                הכוללת
                של רכישת הנכס, בדקו מהו גובה ההון העצמי שלכם.&nbsp;<br><br>
                בנק ישראל מגדיר מהו שיעור המימון המקסימלי אותו יוכל רוכש נכס לקבל מהבנק במסגרת קבלת
                המשכנתא:<br><strong>דירה
                    יחידה:</strong> שיעור מימון מקסימלי = 75%.&nbsp;<br>
                המשמעות היא שעל ההון העצמי להוות לפחות 25% מערך הנכס.<br><strong>דירה חליפית (משפרי דיור):</strong>
                שיעור
                מימון מקסימלי = 70%<br>
                המשמעות היא שעל ההון העצמי להוות לפחות 30% מערך הנכס.<br><strong>דירה להשקעה:</strong> &nbsp;שיעור מימון
                מקסימלי = 50%.<br>
                המשמעות היא שעל ההון העצמי להוות לפחות 50% מערך הנכס.<br><br>
                * בכפוף להחלטת הבנק, להוראות בנק ישראל ולהגדרות מס שבח לגבי דירה יחידה וחליפית.<br>
                &nbsp;</li>
            <li><strong>יכולת ההחזר החודשי שלכם</strong><br>
                כלל האצבע הנהוג בענין זה הוא שגובה ההחזר החודשי לא יעלה על כ-1/3 מסך ההכנסות שלכם (נטו). בכל מקרה,
                במסגרת
                הערכת גובה ההחזר החודשי שבו תוכלו לעמוד, זכרו כי מדובר בהתחייבות חודשית שוטפת לאורך זמן, שתשפיע על אורח
                החיים שלכם. בנוסף קחו בחשבון שיכולת ההחזר שלכם עלולה להשתנות כתוצאה משינויים במהלך החיים.&nbsp;</li>
        </ul><strong>בחישוב סכום המשכנתא הדרוש לכם, מומלץ לקחת בחשבון מרווח ביטחון מסוים, על מנת להימנע מהצורך לקחת
            הלוואות
            נוספות עקב הוצאות לא מתוכננות.&nbsp;</strong>

        <h2><br><span style="color: rgb(223, 26, 30);">קבלת אישור עקרוני מהבנק</span></h2>
        אישור עקרוני הוא מסמך שכולל את סכום המשכנתא ואת תנאי המשכנתא שהבנק מציע לכם. האישור יינתן לאחר בדיקת הצהרותיכם
        והפרטים הפיננסיים שמסרתם.<br><br><strong>פגישה עם נציג המשכנתאות בבנק והגשת בקשה לאישור עקרוני</strong><br>
        לאחר שהערכתם מהו סכום המשכנתא הדרוש לכם, קבעו פגישה עם נציג המשכנתאות בבנק. במהלך הפגישה, תוכלו לקבל הכוונה
        לבחירת
        תמהיל המשכנתא המתאים לצרכים שלכם, ובמהלכה גם תוכלו להגיש בקשה לקבלת משכנתא, ללא התחייבות מצידכם.<br><br>
        בשלב הגשת הבקשה לאישור עקרוני, לא יהיה עליכם לצרף אליה מסמכים כלשהם, אלא רק למלא טופס בקשה, הכולל פרטים אישיים,
        פרטים לגבי הנכס, ופרטים בנוגע למשכנתא שברצונכם לקבל.<br><br><strong>האישור העקרוני ושיעור הריבית המצוין בו תקפים
            לזמן מוגבל, ומותנים באימות הנתונים שמסרתם. &nbsp;</strong>

        <h2><br><span style="color: rgb(223, 26, 30);">הגשת מסמכים לצורך אימות הפרטים שמסרתם&nbsp;</span></h2>
        בשלב זה תתבקשו להגיש לבנק מסמכים המאמתים את הפרטים שמסרתם במסגרת טופס הבקשה שהגשתם לקבלת אישור עקרוני. בין היתר,
        תתבקשו להגיש:

        <ul>
            <li>תעודת זהות + ספחים</li>
            <li>לשכיר – 3 תלושי שכר אחרונים</li>
            <li>לעצמאי – שומת מס אחרונה / אישור רו"ח</li>
            <li>תדפיסי עו"ש של 3 החודשים האחרונים</li>
            <li>תדפיס יתרת הלוואות קיימות</li>
            <li>חוזה רכישה של הנכס הרלוונטי</li>
            <li>נסח טאבו מלא ועדכני / אישור זכויות עדכני</li>
            <li>תעודת זכאות / בדיקת זכאות לסיוע מהמדינה</li>
            <li>במידת הצורך, יפנה אתכם הבנק לשמאי המאושר ע"י הבנק.</li>
        </ul><br><strong>קחו בחשבון שייתכן שתידרשו להגיש מסמכים נוספים, לפי נסיבות העסקה.</strong>

        <h2><br><span style="color: rgb(223, 26, 30);">חתימה על מסמכי המשכנתא</span></h2>
        לאחר שהבנק יאמת את הפרטים שמסרתם, ניתן יהיה להתקדם לפתיחת התיק ולחתימה שלכם ושל הערבים (אם ישנם) על מסמכי
        המשכנתא.&nbsp;<br>
        בשלב זה, תתבקשו לספק לבנק ביטוח חיים וביטוח מבנה, רישום שעבודים ואולי גם מסמכים נוספים, בהתאם לנסיבות
        העסקה.<br><br><strong>עם השלמת התהליך, תקבלו את כספי המשכנתא.</strong>
    </div>
</div>

<button routerLink="/StepsComponent/step1">התחלת התהליך</button>

<!-- <div class="row">
    <div class="col-2" routerLink="/StepsComponent/step1">שלב 1</div>
    <div class="col-2" routerLink="/StepsComponent/step2">שלב 2</div>
    <div class="col-2" routerLink="/StepsComponent/step3">שלב 3</div>
    <div class="col-2" routerLink="/StepsComponent/step4">שלב 4</div>
</div> -->

<router-outlet></router-outlet>