<form [formGroup]="showEditForm">

    <div class="form-group">
        <input id="propertyCity" value="propertyCity" type="text" name="propertyCity" formControlName="propertyCity"
            placeholder="propertyCity">
    </div>
    <div class="form-group">
        <input id="propertyPrice" value="propertyPrice" type="text" name="propertyPrice" formControlName="propertyPrice"
            placeholder="propertyPrice">
    </div>
    <div class="form-group">
        <input id="propertyMarketValue" value="propertyMarketValue" type="text" name="propertyMarketValue"
            formControlName="propertyMarketValue" placeholder="propertyMarketValue">
    </div>
    <div class="form-group">
        <input id="amount" value="amount" type="text" name="amount" formControlName="amount" placeholder="amount">
    </div>
    <div class="form-group">
        <input id="contractSign" value="contractSign" type="text" name="contractSign" formControlName="contractSign"
            placeholder="contractSign">
    </div>
    <div class="form-group">
        <input id="howMuchLonger" value="howMuchLonger" type="text" name="howMuchLonger" formControlName="howMuchLonger"
            placeholder="howMuchLonger">
    </div>
    <div class="form-group">
        <input id="numberOfPartner" value="numberOfPartner" type="text" name="numberOfPartner"
            formControlName="numberOfPartner" placeholder="numberOfPartner">
    </div>
    <div class="form-group">
        <input id="firstName" value="firstName" type="text" name="firstName" formControlName="firstName"
            placeholder="firstName">
    </div>
    <div class="form-group">
        <input id="lastName" value="lastName" type="text" name="lastName" formControlName="lastName"
            placeholder="שם משפחה">
    </div>
    <div class="form-group">
        <input id="identity" value="identity" type="text" name="identity" formControlName="identity"
            placeholder="identity">
    </div>
    <div class="form-group">
        <input id="areaCode" value="areaCode" type="text" name="areaCode" formControlName="areaCode"
            placeholder="areaCode">
    </div>
    <div class="form-group">
        <input id="pel" value="pel" type="text" name="pel" formControlName="pel" placeholder="pel">
    </div>
    <div class="form-group">
        <input id="email" value="email" type="text" name="email" formControlName="email" placeholder="email">
    </div>
    <div class="form-group">
        <input id="countryOfBirth" value="countryOfBirth" type="text" name="countryOfBirth"
            formControlName="countryOfBirth" placeholder="countryOfBirth">
    </div>
    <div class="form-group">
        <input id="citizenship" value="citizenship" type="text" name="citizenship" formControlName="citizenship"
            placeholder="citizenship">
    </div>
    <div class="form-group">
        <input id="city" value="city" type="text" name="city" formControlName="city" placeholder="city">
    </div>
    <div class="form-group">
        <input id="street" value="street" type="text" name="street" formControlName="street" placeholder="street">
    </div>


    <button>שמירה</button>

</form>