<p>
    נעים מאוד, שמי שרה כהן – אסטרטגית להתנהלות מול הבנקים ויועצת משכנתאות מומחית. המומחיות והכישרון שלי הוא לגרום לבנק
    להרוויח עלינו כמה שפחות כסף במשכנתא. איך אני עושה זאת…? תוצאה של התנהלות נכונה ומקצועית מול הבנקים – לדעת מה לדרוש,
    איך לדרוש ומתי לדרוש.

    ניסיון רב בלקיחת הלוואות משכנתא בכל סוגי העסקאות הקיימות.

    ביכולתי לחסוך לכם עשרות ואפילו מאות אלפי שקלים בהלוואת המשכנתא. אם אתם עתידים לקחת משכנתא חדשה, אם אתם מעוניינים
    למחזר משכנתא קיימת, צרו עימי קשר לקבלת ייעוץ משכנתאות אובייקטיבי ומקצועי. ואני מבטיחה לכם דבר אחד – אתם תמליצו עלי
    הלאה… אז אם אתם מחפשים יועצת משכנתאות מקצועית ואובייקטיבית אני כאן לרשותכם.

    הרכב
    תכנון של הרכב ההלוואה (מסלולי ההלוואה)

    גובה משכנתא
    ניתוח צורך גובה המשכנתא תוך דגש על אשראי קיים בחשבונכם

    ניתוח מעמיק
    ניתוח מעמיק של כושר ההחזר על המשכנתא הקיימת או החדשה

    ריביות
    השגת ריביות השוק הטובות ביותר

    אישור משכנתא
    בניית תיק משכנתא לבנקים השונים וקבלת האישור העקרוני
</p>